@import url(main.css);
html {
    background-image: url(/IMG/boards.png);
}
section#boards {
    text-align: center;
}
section#boards table, td {
    border: 1px solid black;
    border-radius: 15px;
    border-spacing: 30px;
}
section#boards table {
    border: none;
}
section#boards td {
    background-color: rgba(0, 0, 0, 0.5);
}
section#boards .pane {
    margin: 20px;
}
section#boards .pane img {
    user-select: none;
    border-radius: 15px;
}
