@import url(main.css);
html {
    background-image: url(/IMG/home.png);
}

/* Sections Styles */
p#warning {
    text-align: center;
    font-weight: bold;
}
p#warning span#red {
    color: red;
}
p#warning span#yellow {
    color: yellow;
}
section#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section#gallery img {
    width: 45%;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    user-select: none;
}
section#gallery img:hover {
    -webkit-filter:brightness(120%);
    filter: brightness(120%);
    transform: scale(1.01);
}
